<div id="title">
  <h1>LOUISA</br>BARRETT</h1>
</div>
<div id="subhead">
  <h4> design • draw • develop </h4>
  <div class="fancy">
    <%= link_to image_tag("image_001.png"), root_path, alt: 'some_fancy' %>
  </div>
</div>


